<h2>Staff Portal</h2>
<button routerLink="/home">Home</button>
<nav>
  <a routerLink="/customers">View Customers</a><br />
  <a routerLink="/add-customer">Add Customer</a><br />
  <a routerLink="/artists">View Artists</a><br />
  <a routerLink="/add-artist">Add Artists</a><br />
  <a routerLink="/services">View Services</a><br />
  <a routerLink="/add-service">Add Service</a><br />
  <a routerLink="/intake">Client Intake Form</a><br />
  <a routerLink="/tattoo-consent">Tattoo Consent</a><br />
  <a routerLink="/piercing-consent">Piercing Consent</a><br />
  <a routerLink="/parental-consent">Parental Consent</a><br />
</nav>
