# =========================
# Frontend (Angular / Node)
# =========================
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.npm/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/.sass-cache/
frontend/.connect.lock
frontend/coverage/
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings/
frontend/.history/

# =========================
# Backend (Java / Spring Boot / Maven)
# =========================
backend/target/
#backend/.mvn/
*.class
*.jar
*.war
*.log

# Spring Boot wrapper exceptions
!.mvn/wrapper/maven-wrapper.jar

# =========================
# IDEs and Editors
# =========================
# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# OS/System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.tsbuildinfo
