<button routerLink="/home">Home</button>
  <nav>
    <a routerLink="/customers">Manage Customers</a><br />
    <a routerLink="/artists">Manage Artists</a><br />
    <a routerLink="/services">Manage Services</a><br />
  </nav>

<a routerLink="/add-service">Add Service</a><br />
<h2>All Services</h2>

<ul *ngIf="services.length; else none">
  <li *ngFor="let s of services">
    <strong>{{ s.title }}</strong> - {{ s.category }} - ${{ s.price }}
    <br />{{ s.description }}
    <hr />
  </li>
</ul>

<ng-template #none>
  <p>No services available.</p>
</ng-template>
